openapi: 3.2.0
info:
  title: ERCOT Public API Client/Developer Documentation NP3 965 ER API
  description: Client/Developer RESTFul web services documentation for ERCOT Market Information List (EMIL) products.
  version: '1.0'
servers:
- url: https://api.ercot.com/api/public-reports
security:
- apiKeyHeader: []
- apiKeyQuery: []
tags:
- name: NP3-965-ER
  description: '<b>60-Day SCED Disclosure Reports</b><br/><br/>This report will contain all 60 day disclosure data related to SCED. The following individual files are included in the report: NP3-967-EX 61-day QSE-specific Self-Arranged AS in SCED NP3-968-EX 61-day Generation Resource data in SCED NP3-969-EX 61-day Load Resource data in SCED NP3-970-EX 61-day Dynamically Scheduled Resource and Loads in SCED NP3-971-EX 61-day Inc/Dec Offer Curves in SCED NP3-973-EX 61-day Settlement Metered Net Energy for Generation Resources and NP6-585-ER 60 Day HDL and LDL Manual Override Summary'
paths:
  /np3-965-er/60_sced_smne_gen_res:
    get:
      tags:
      - NP3-965-ER
      summary: 60 Day SCED Settlement Metered Net Energy for Generation Resources
      description: 60 Day SCED Settlement Metered Net Energy for Generation Resources
      operationId: getData_51
      parameters:
      - name: intervalValueFrom
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: intervalValueTo
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: intervalTimeFrom
        in: query
        description: Format - yyyy-MM-ddTH24:mm:ss.
        schema:
          type: string
          format: yyyy-MM-ddTH24:mm:ss
      - name: intervalTimeTo
        in: query
        description: Format - yyyy-MM-ddTH24:mm:ss.
        schema:
          type: string
          format: yyyy-MM-ddTH24:mm:ss
      - name: intervalNumberFrom
        in: query
        description: 'Format - ###.'
        schema:
          type: integer
          format: '###'
      - name: intervalNumberTo
        in: query
        description: 'Format - ###.'
        schema:
          type: integer
          format: '###'
      - name: resourceCode
        in: query
        description: Format - abc123.
        schema:
          type: string
          format: abc123
      - name: page
        in: query
        description: 'Format - ###. Page number of returned values in the collection.'
        schema:
          type: integer
          format: '###'
      - name: size
        in: query
        description: 'Format - ###. Number of returned items per page.'
        schema:
          type: integer
          format: '###'
      - name: sort
        in: query
        description: Format - abc123. Defines field by which to sort the returned resource values.
        schema:
          type: string
          format: abc123
      - name: dir
        in: query
        description: Format - abc123. Defines sort order of returned values based on the primary business key of the resource.
        schema:
          type: string
          format: abc123
      responses:
        '200':
          description: OK The operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Report'
              example:
                _meta:
                  totalRecords: 0
                  pageSize: 0
                  totalPages: 0
                  currentPage: 0
                  query:
                    parameterCount: 0
                    parameters: {}
                    sortedBy: string
                report:
                  reportName: string
                  reportDisplayName: string
                  reportId: string
                  reportEMIL: string
                fields:
                - name: string
                  label: string
                  cardinality: 0
                  dataType: BOOLEAN
                  searchable: true
                  sortable: true
                  hasRange: true
                data: {}
                links:
                - rel: string
                  href: string
                  hreflang: string
                  media: string
                  title: string
                  type: string
                  deprecation: string
                  profile: string
                  name: string
        '400':
          description: The request operation failed. The request and/or one or more of its parameters are invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
              example:
                timestamp: string
                code: 0
                status: string
                message: string
                data: {}
        '403':
          description: The request operation failed. You do not have access to the requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
              example:
                timestamp: string
                code: 0
                status: string
                message: string
                data: {}
        '404':
          description: The request operation failed. The requested resource does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
              example:
                timestamp: string
                code: 0
                status: string
                message: string
                data: {}
  /np3-965-er/60_sced_qse_self_arranged_as:
    get:
      tags:
      - NP3-965-ER
      summary: 60 Day QSE-specific Self-Arranged AS in SCED
      description: 60 Day QSE-specific Self-Arranged AS in SCED
      operationId: getData_52
      parameters:
      - name: SCEDTimestampFrom
        in: query
        description: Format - yyyy-MM-ddTH24:mm:ss.
        schema:
          type: string
          format: yyyy-MM-ddTH24:mm:ss
      - name: SCEDTimestampTo
        in: query
        description: Format - yyyy-MM-ddTH24:mm:ss.
        schema:
          type: string
          format: yyyy-MM-ddTH24:mm:ss
      - name: repeatHourFlag
        in: query
        description: Format - true | false.
        schema:
          type: boolean
          format: true | false
      - name: qseName
        in: query
        description: Format - abc123.
        schema:
          type: string
          format: abc123
      - name: REGUP
        in: query
        description: Format - abc123.
        schema:
          type: string
          format: abc123
      - name: REGDNFrom
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: REGDNTo
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: NSPINFrom
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: NSPINTo
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: NSPNMFrom
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: NSPNMTo
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: RRSPFRFrom
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: RRSPFRTo
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: RRSFFRFrom
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: RRSFFRTo
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: RRSUFRFrom
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: RRSUFRTo
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: page
        in: query
        description: 'Format - ###. Page number of returned values in the collection.'
        schema:
          type: integer
          format: '###'
      - name: size
        in: query
        description: 'Format - ###. Number of returned items per page.'
        schema:
          type: integer
          format: '###'
      - name: sort
        in: query
        description: Format - abc123. Defines field by which to sort the returned resource values.
        schema:
          type: string
          format: abc123
      - name: dir
        in: query
        description: Format - abc123. Defines sort order of returned values based on the primary business key of the resource.
        schema:
          type: string
          format: abc123
      responses:
        '200':
          description: OK The operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Report'
              example:
                _meta:
                  totalRecords: 0
                  pageSize: 0
                  totalPages: 0
                  currentPage: 0
                  query:
                    parameterCount: 0
                    parameters: {}
                    sortedBy: string
                report:
                  reportName: string
                  reportDisplayName: string
                  reportId: string
                  reportEMIL: string
                fields:
                - name: string
                  label: string
                  cardinality: 0
                  dataType: BOOLEAN
                  searchable: true
                  sortable: true
                  hasRange: true
                data: {}
                links:
                - rel: string
                  href: string
                  hreflang: string
                  media: string
                  title: string
                  type: string
                  deprecation: string
                  profile: string
                  name: string
        '400':
          description: The request operation failed. The request and/or one or more of its parameters are invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
              example:
                timestamp: string
                code: 0
                status: string
                message: string
                data: {}
        '403':
          description: The request operation failed. You do not have access to the requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
              example:
                timestamp: string
                code: 0
                status: string
                message: string
                data: {}
        '404':
          description: The request operation failed. The requested resource does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
              example:
                timestamp: string
                code: 0
                status: string
                message: string
                data: {}
  /np3-965-er/60_sced_gen_res_data:
    get:
      tags:
      - NP3-965-ER
      summary: 60 Day SCED Gen Resource Data
      description: 60 Day SCED Gen Resource Data
      operationId: getData_53
      parameters:
      - name: SCED2CurveMW9From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurveMW9To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurvePrice9From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurvePrice9To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurveMW10From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurveMW10To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurvePrice10From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurvePrice10To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurveMW11From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurveMW11To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurvePrice11From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurvePrice11To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurveMW12From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurveMW12To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurvePrice12From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurvePrice12To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurveMW13From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurveMW13To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurvePrice13From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurvePrice13To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurveMW14From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurveMW14To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurvePrice14From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurvePrice14To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurveMW15From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurveMW15To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurvePrice15From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurvePrice15To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurveMW16From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurveMW16To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurvePrice16From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurvePrice16To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurveMW17From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurveMW17To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurvePrice17From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurvePrice17To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurveMW18From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurveMW18To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurvePrice18From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurvePrice18To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurveMW19From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurveMW19To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurvePrice19From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurvePrice19To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurveMW20From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurveMW20To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurvePrice20From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurvePrice20To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurveMW21From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurveMW21To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurvePrice21From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurvePrice21To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurveMW22From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurveMW22To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurvePrice22From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurvePrice22To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurveMW23From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurveMW23To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurvePrice23From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurvePrice23To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurveMW24From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurveMW24To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurvePrice24From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurvePrice24To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurveMW25From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurveMW25To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurvePrice25From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurvePrice25To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurveMW26From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurveMW26To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurvePrice26From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurvePrice26To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurveMW27From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurveMW27To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurvePrice27From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurvePrice27To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurveMW28From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurveMW28To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurvePrice28From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurvePrice28To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurveMW29From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurveMW29To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurvePrice29From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurvePrice29To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurveMW30From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurveMW30To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurvePrice30From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurvePrice30To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurveMW31From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurveMW31To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurvePrice31From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurvePrice31To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurveMW32From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurveMW32To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurvePrice32From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurvePrice32To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurveMW33From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurveMW33To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurvePrice33From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurvePrice33To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurveMW34From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurveMW34To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurvePrice34From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurvePrice34To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurveMW35From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurveMW35To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurvePrice35From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurvePrice35To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: outputScheduleFrom
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: outputScheduleTo
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: HSLFrom
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: HSLTo
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: HASLFrom
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: HASLTo
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: HDLFrom
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: HDLTo
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: LSLFrom
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: LSLTo
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: LASLFrom
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: LASLTo
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: LDLFrom
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: LDLTo
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: telemeteredResourceStatus
        in: query
        description: Format - abc123.
        schema:
          type: string
          format: abc123
      - name: basePointFrom
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: basePointTo
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: telemeteredNetOutputFrom
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: telemeteredNetOutputTo
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: ASREGUPFrom
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: ASREGUPTo
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: ASREGDNFrom
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: ASREGDNTo
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: ASRRSFrom
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: ASRRSTo
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: ASRRSFFRFrom
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: ASRRSFFRTo
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: ASNSRSFrom
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: ASNSRSTo
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: bidType
        in: query
        description: Format - abc123.
        schema:
          type: string
          format: abc123
      - name: startUpColdOfferFrom
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: startUpColdOfferTo
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: startUpHotOfferFrom
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: startUpHotOfferTo
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: startUpInterOfferFrom
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: startUpInterOfferTo
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: minGenCostFrom
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: minGenCostTo
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: submittedTPOMW1From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: submittedTPOMW1To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: submittedTPOPrice1From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: submittedTPOPrice1To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: submittedTPOMW2From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: submittedTPOMW2To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: submittedTPOPrice2From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: submittedTPOPrice2To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: submittedTPOMW3From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: submittedTPOMW3To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: submittedTPOPrice3From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: submittedTPOPrice3To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: submittedTPOMW4From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: submittedTPOMW4To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: submittedTPOPrice4From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: submittedTPOPrice4To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: submittedTPOMW5From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: submittedTPOMW5To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: submittedTPOPrice5From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: submittedTPOPrice5To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: submittedTPOMW6From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: submittedTPOMW6To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: submittedTPOPrice6From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: submittedTPOPrice6To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: submittedTPOMW7From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: submittedTPOMW7To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: submittedTPOPrice7From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: submittedTPOPrice7To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: submittedTPOMW8From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: submittedTPOMW8To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: submittedTPOPrice8From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: submittedTPOPrice8To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: submittedTPOMW9From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: submittedTPOMW9To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: submittedTPOPrice9From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: submittedTPOPrice9To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: submittedTPOMW10From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: submittedTPOMW10To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: submittedTPOPrice10From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: submittedTPOPrice10To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: proxyExtension
        in: query
        description: Format - abc123.
        schema:
          type: string
          format: abc123
      - name: SCEDTimestampFrom
        in: query
        description: Format - yyyy-MM-ddTH24:mm:ss.
        schema:
          type: string
          format: yyyy-MM-ddTH24:mm:ss
      - name: SCEDTimestampTo
        in: query
        description: Format - yyyy-MM-ddTH24:mm:ss.
        schema:
          type: string
          format: yyyy-MM-ddTH24:mm:ss
      - name: repeatHourFlag
        in: query
        description: Format - true | false.
        schema:
          type: boolean
          format: true | false
      - name: qseName
        in: query
        description: Format - abc123.
        schema:
          type: string
          format: abc123
      - name: dmeName
        in: query
        description: Format - abc123.
        schema:
          type: string
          format: abc123
      - name: resourceName
        in: query
        description: Format - abc123.
        schema:
          type: string
          format: abc123
      - name: resourceType
        in: query
        description: Format - abc123.
        schema:
          type: string
          format: abc123
      - name: SCED1CurveMW1From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurveMW1To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurvePrice1From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurvePrice1To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurveMW2From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurveMW2To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurvePrice2From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurvePrice2To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurveMW3From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurveMW3To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurvePrice3From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurvePrice3To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurveMW4From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurveMW4To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurvePrice4From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurvePrice4To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurveMW5From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurveMW5To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurvePrice5From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurvePrice5To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurveMW6From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurveMW6To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurvePrice6From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurvePrice6To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurveMW7From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurveMW7To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurvePrice7From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurvePrice7To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurveMW8From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurveMW8To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurvePrice8From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurvePrice8To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurveMW9From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurveMW9To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurvePrice9From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurvePrice9To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurveMW10From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurveMW10To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurvePrice10From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurvePrice10To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurveMW11From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurveMW11To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurvePrice11From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurvePrice11To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurveMW12From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurveMW12To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurvePrice12From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurvePrice12To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurveMW13From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurveMW13To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurvePrice13From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurvePrice13To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurveMW14From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurveMW14To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurvePrice14From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurvePrice14To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurveMW15From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurveMW15To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurvePrice15From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurvePrice15To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurveMW16From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurveMW16To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurvePrice16From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurvePrice16To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurveMW17From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurveMW17To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurvePrice17From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurvePrice17To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurveMW18From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurveMW18To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurvePrice18From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurvePrice18To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurveMW19From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurveMW19To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurvePrice19From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurvePrice19To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurveMW20From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurveMW20To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurvePrice20From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurvePrice20To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurveMW21From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurveMW21To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurvePrice21From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurvePrice21To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurveMW22From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurveMW22To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurvePrice22From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurvePrice22To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurveMW23From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurveMW23To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurvePrice23From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurvePrice23To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurveMW24From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurveMW24To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurvePrice24From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurvePrice24To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurveMW25From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurveMW25To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurvePrice25From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurvePrice25To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurveMW26From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurveMW26To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurvePrice26From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurvePrice26To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurveMW27From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurveMW27To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurvePrice27From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurvePrice27To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurveMW28From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurveMW28To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurvePrice28From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurvePrice28To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurveMW29From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurveMW29To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurvePrice29From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurvePrice29To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurveMW30From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurveMW30To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurvePrice30From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurvePrice30To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurveMW31From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurveMW31To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurvePrice31From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurvePrice31To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurveMW32From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurveMW32To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurvePrice32From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurvePrice32To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurveMW33From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurveMW33To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurvePrice33From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurvePrice33To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurveMW34From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurveMW34To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurvePrice34From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurvePrice34To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurveMW35From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurveMW35To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurvePrice35From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED1CurvePrice35To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurveMW1From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurveMW1To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurvePrice1From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurvePrice1To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurveMW2From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurveMW2To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurvePrice2From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurvePrice2To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurveMW3From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurveMW3To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurvePrice3From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurvePrice3To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurveMW4From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurveMW4To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurvePrice4From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurvePrice4To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurveMW5From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurveMW5To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurvePrice5From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurvePrice5To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurveMW6From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurveMW6To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurvePrice6From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurvePrice6To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurveMW7From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurveMW7To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurvePrice7From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurvePrice7To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurveMW8From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurveMW8To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurvePrice8From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCED2CurvePrice8To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: page
        in: query
        description: 'Format - ###. Page number of returned values in the collection.'
        schema:
          type: integer
          format: '###'
      - name: size
        in: query
        description: 'Format - ###. Number of returned items per page.'
        schema:
          type: integer
          format: '###'
      - name: sort
        in: query
        description: Format - abc123. Defines field by which to sort the returned resource values.
        schema:
          type: string
          format: abc123
      - name: dir
        in: query
        description: Format - abc123. Defines sort order of returned values based on the primary business key of the resource.
        schema:
          type: string
          format: abc123
      responses:
        '200':
          description: OK The operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Report'
              example:
                _meta:
                  totalRecords: 0
                  pageSize: 0
                  totalPages: 0
                  currentPage: 0
                  query:
                    parameterCount: 0
                    parameters: {}
                    sortedBy: string
                report:
                  reportName: string
                  reportDisplayName: string
                  reportId: string
                  reportEMIL: string
                fields:
                - name: string
                  label: string
                  cardinality: 0
                  dataType: BOOLEAN
                  searchable: true
                  sortable: true
                  hasRange: true
                data: {}
                links:
                - rel: string
                  href: string
                  hreflang: string
                  media: string
                  title: string
                  type: string
                  deprecation: string
                  profile: string
                  name: string
        '400':
          description: The request operation failed. The request and/or one or more of its parameters are invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
              example:
                timestamp: string
                code: 0
                status: string
                message: string
                data: {}
        '403':
          description: The request operation failed. You do not have access to the requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
              example:
                timestamp: string
                code: 0
                status: string
                message: string
                data: {}
        '404':
          description: The request operation failed. The requested resource does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
              example:
                timestamp: string
                code: 0
                status: string
                message: string
                data: {}
  /np3-965-er/60_sced_dsr_load_data:
    get:
      tags:
      - NP3-965-ER
      summary: 60 Day SCED DSR Load Data
      description: 60 Day SCED DSR Load Data
      operationId: getData_54
      parameters:
      - name: qseName
        in: query
        description: Format - abc123.
        schema:
          type: string
          format: abc123
      - name: totalTelemeteredDSRLoadsFrom
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: totalTelemeteredDSRLoadsTo
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCEDTimestampFrom
        in: query
        description: Format - yyyy-MM-ddTH24:mm:ss.
        schema:
          type: string
          format: yyyy-MM-ddTH24:mm:ss
      - name: SCEDTimestampTo
        in: query
        description: Format - yyyy-MM-ddTH24:mm:ss.
        schema:
          type: string
          format: yyyy-MM-ddTH24:mm:ss
      - name: repeatHourFlag
        in: query
        description: Format - true | false.
        schema:
          type: boolean
          format: true | false
      - name: page
        in: query
        description: 'Format - ###. Page number of returned values in the collection.'
        schema:
          type: integer
          format: '###'
      - name: size
        in: query
        description: 'Format - ###. Number of returned items per page.'
        schema:
          type: integer
          format: '###'
      - name: sort
        in: query
        description: Format - abc123. Defines field by which to sort the returned resource values.
        schema:
          type: string
          format: abc123
      - name: dir
        in: query
        description: Format - abc123. Defines sort order of returned values based on the primary business key of the resource.
        schema:
          type: string
          format: abc123
      responses:
        '200':
          description: OK The operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Report'
              example:
                _meta:
                  totalRecords: 0
                  pageSize: 0
                  totalPages: 0
                  currentPage: 0
                  query:
                    parameterCount: 0
                    parameters: {}
                    sortedBy: string
                report:
                  reportName: string
                  reportDisplayName: string
                  reportId: string
                  reportEMIL: string
                fields:
                - name: string
                  label: string
                  cardinality: 0
                  dataType: BOOLEAN
                  searchable: true
                  sortable: true
                  hasRange: true
                data: {}
                links:
                - rel: string
                  href: string
                  hreflang: string
                  media: string
                  title: string
                  type: string
                  deprecation: string
                  profile: string
                  name: string
        '400':
          description: The request operation failed. The request and/or one or more of its parameters are invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
              example:
                timestamp: string
                code: 0
                status: string
                message: string
                data: {}
        '403':
          description: The request operation failed. You do not have access to the requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
              example:
                timestamp: string
                code: 0
                status: string
                message: string
                data: {}
        '404':
          description: The request operation failed. The requested resource does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
              example:
                timestamp: string
                code: 0
                status: string
                message: string
                data: {}
  /np3-965-er/60_load_res_data_in_sced:
    get:
      tags:
      - NP3-965-ER
      summary: 60 Day Load Resource Data in SCED
      description: 60 Day Load Resource Data in SCED
      operationId: getData_55
      parameters:
      - name: ASRespForNSPINFrom
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: ASRespForNSPINTo
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: ASRespForREGUPFrom
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: ASRespForREGUPTo
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: ASRespForREGDNFrom
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: ASRespForREGDNTo
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCEDBidCurveMW1From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCEDBidCurveMW1To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCEDBidCurvePrice1From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCEDBidCurvePrice1To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCEDBidCurveMW2From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCEDBidCurveMW2To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCEDBidCurvePrice2From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCEDBidCurvePrice2To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCEDBidCurveMW3From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCEDBidCurveMW3To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCEDBidCurvePrice3From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCEDBidCurvePrice3To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCEDBidCurveMW4From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCEDBidCurveMW4To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCEDBidCurvePrice4From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCEDBidCurvePrice4To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCEDBidCurveMW5From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCEDBidCurveMW5To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCEDBidCurvePrice5From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCEDBidCurvePrice5To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCEDBidCurveMW6From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCEDBidCurveMW6To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCEDBidCurvePrice6From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCEDBidCurvePrice6To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCEDBidCurveMW7From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCEDBidCurveMW7To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCEDBidCurvePrice7From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCEDBidCurvePrice7To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCEDBidCurveMW8From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCEDBidCurveMW8To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCEDBidCurvePrice8From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCEDBidCurvePrice8To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCEDBidCurveMW9From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCEDBidCurveMW9To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCEDBidCurvePrice9From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCEDBidCurvePrice9To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCEDBidCurveMW10From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCEDBidCurveMW10To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCEDBidCurvePrice10From
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCEDBidCurvePrice10To
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: HASLFrom
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: HASLTo
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: HDLFrom
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: HDLTo
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: LASLFrom
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: LASLTo
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: LDLFrom
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: LDLTo
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: basePointFrom
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: basePointTo
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: SCEDTimestampFrom
        in: query
        description: Format - yyyy-MM-ddTH24:mm:ss.
        schema:
          type: string
          format: yyyy-MM-ddTH24:mm:ss
      - name: SCEDTimestampTo
        in: query
        description: Format - yyyy-MM-ddTH24:mm:ss.
        schema:
          type: string
          format: yyyy-MM-ddTH24:mm:ss
      - name: repeatHourFlag
        in: query
        description: Format - true | false.
        schema:
          type: boolean
          format: true | false
      - name: qseName
        in: query
        description: Format - abc123.
        schema:
          type: string
          format: abc123
      - name: dmeName
        in: query
        description: Format - abc123.
        schema:
          type: string
          format: abc123
      - name: resourceName
        in: query
        description: Format - abc123.
        schema:
          type: string
          format: abc123
      - name: telResStatus
        in: query
        description: Format - abc123.
        schema:
          type: string
          format: abc123
      - name: maxPowerConsumptionFrom
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: maxPowerConsumptionTo
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: lowPowerConsumptionFrom
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: lowPowerConsumptionTo
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: realPowerConsumptionFrom
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: realPowerConsumptionTo
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: ASRespForRRSFrom
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: ASRespForRRSTo
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: ASRespForRRSFFRFrom
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: ASRespForRRSFFRTo
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: page
        in: query
        description: 'Format - ###. Page number of returned values in the collection.'
        schema:
          type: integer
          format: '###'
      - name: size
        in: query
        description: 'Format - ###. Number of returned items per page.'
        schema:
          type: integer
          format: '###'
      - name: sort
        in: query
        description: Format - abc123. Defines field by which to sort the returned resource values.
        schema:
          type: string
          format: abc123
      - name: dir
        in: query
        description: Format - abc123. Defines sort order of returned values based on the primary business key of the resource.
        schema:
          type: string
          format: abc123
      responses:
        '200':
          description: OK The operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Report'
              example:
                _meta:
                  totalRecords: 0
                  pageSize: 0
                  totalPages: 0
                  currentPage: 0
                  query:
                    parameterCount: 0
                    parameters: {}
                    sortedBy: string
                report:
                  reportName: string
                  reportDisplayName: string
                  reportId: string
                  reportEMIL: string
                fields:
                - name: string
                  label: string
                  cardinality: 0
                  dataType: BOOLEAN
                  searchable: true
                  sortable: true
                  hasRange: true
                data: {}
                links:
                - rel: string
                  href: string
                  hreflang: string
                  media: string
                  title: string
                  type: string
                  deprecation: string
                  profile: string
                  name: string
        '400':
          description: The request operation failed. The request and/or one or more of its parameters are invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
              example:
                timestamp: string
                code: 0
                status: string
                message: string
                data: {}
        '403':
          description: The request operation failed. You do not have access to the requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
              example:
                timestamp: string
                code: 0
                status: string
                message: string
                data: {}
        '404':
          description: The request operation failed. The requested resource does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
              example:
                timestamp: string
                code: 0
                status: string
                message: string
                data: {}
  /np3-965-er/60_hdl_ldl_man_override:
    get:
      tags:
      - NP3-965-ER
      summary: 60 Day HDL and LDL Manual Override Summary
      description: 60 Day HDL and LDL Manual Override Summary
      operationId: getData_56
      parameters:
      - name: SCEDTimestampFrom
        in: query
        description: Format - yyyy-MM-ddTH24:mm:ss.
        schema:
          type: string
          format: yyyy-MM-ddTH24:mm:ss
      - name: SCEDTimestampTo
        in: query
        description: Format - yyyy-MM-ddTH24:mm:ss.
        schema:
          type: string
          format: yyyy-MM-ddTH24:mm:ss
      - name: repeatHourFlag
        in: query
        description: Format - true | false.
        schema:
          type: boolean
          format: true | false
      - name: participantName
        in: query
        description: Format - abc123.
        schema:
          type: string
          format: abc123
      - name: resourceName
        in: query
        description: Format - abc123.
        schema:
          type: string
          format: abc123
      - name: HDLOriginalFrom
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: HDLOriginalTo
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: HDLManualFrom
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: HDLManualTo
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: HDLFinalFrom
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: HDLFinalTo
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: LDLOriginalFrom
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: LDLOriginalTo
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: LDLManualFrom
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: LDLManualTo
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: LDLFinalFrom
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: LDLFinalTo
        in: query
        description: 'Format - ####.###.'
        schema:
          type: number
          format: '####.###'
      - name: reasonCode
        in: query
        description: Format - abc123.
        schema:
          type: string
          format: abc123
      - name: page
        in: query
        description: 'Format - ###. Page number of returned values in the collection.'
        schema:
          type: integer
          format: '###'
      - name: size
        in: query
        description: 'Format - ###. Number of returned items per page.'
        schema:
          type: integer
          format: '###'
      - name: sort
        in: query
        description: Format - abc123. Defines field by which to sort the returned resource values.
        schema:
          type: string
          format: abc123
      - name: dir
        in: query
        description: Format - abc123. Defines sort order of returned values based on the primary business key of the resource.
        schema:
          type: string
          format: abc123
      responses:
        '200':
          description: OK The operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Report'
              example:
                _meta:
                  totalRecords: 0
                  pageSize: 0
                  totalPages: 0
                  currentPage: 0
                  query:
                    parameterCount: 0
                    parameters: {}
                    sortedBy: string
                report:
                  reportName: string
                  reportDisplayName: string
                  reportId: string
                  reportEMIL: string
                fields:
                - name: string
                  label: string
                  cardinality: 0
                  dataType: BOOLEAN
                  searchable: true
                  sortable: true
                  hasRange: true
                data: {}
                links:
                - rel: string
                  href: string
                  hreflang: string
                  media: string
                  title: string
                  type: string
                  deprecation: string
                  profile: string
                  name: string
        '400':
          description: The request operation failed. The request and/or one or more of its parameters are invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
              example:
                timestamp: string
                code: 0
                status: string
                message: string
                data: {}
        '403':
          description: The request operation failed. You do not have access to the requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
              example:
                timestamp: string
                code: 0
                status: string
[...]
